<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sonax</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
            <li class="nav-item" id="header-right">
                <button class="btn btn-outline-success my-2 my-sm-0" id="login-button" type="button" onclick="showLoginModal()">LogIn</button>
                <p id="user-email"></p>
                <button class="btn btn-outline-success my-2 my-sm-0 hide" id="logout-button" type="button" onclick="logout()">LogOut</button>
            </li>
        </ul>
    </div>
</nav>